/*Homepage header*/

.header {
    background-image: url('../image/bg.png');
    height: 100vh;
    background-size: cover;
    background-position: right top;

}

@media (max-width: 991px) {
    .header {
        background-image: url('../image/bg-table.jpg');
    }
}

@media (max-width: 767px) {
    .header {
        background-image: url('../image/bg-mobile.jpg');
        height: 100vh;
        background-size: cover;
        background-position: right top;

    }
}

.nav-item a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4A4646;
}


.title-head h1 {

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;

    color: #ffff;
}

.title-content {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    color: #4A4646;

}

.title-foot {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    color: #4A4646;
}




.title-href {
    margin-top: 50px;
    margin-left: 24px;
    background-color: #1ABC9C;
}

.title-href a {

    outline: #1ABC9C;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;    
    text-decoration: none;
    color: #ffff;
}

/*Homepage info section*/

.img-one {
    height: 115px;
}

.info-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.info-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;

    color: #1ABC9C;

}

.info-content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #4A4646;
}

/*Homepage Grid section*/

.grid h1 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #4A4646;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 230.71px);
    grid-column-gap: 14px;
    grid-row-gap: 16px;
    grid-template-areas:
        "post-1 post-1 post-2 post-3"
        "post-4 post-5 post-6 post-3"
        "post-7 post-7 post-6 post-8"
        "post-7 post-7 post-9 post-9"
        "post-10 post-11 post-9 post-9"
        "post-10 post-12 post-12 post-13"
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media (max-width: 767px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(13, 230.71px);
        grid-column-gap: 14px;
        grid-row-gap: 16px;
        grid-template-areas:
            "post-1"
            "post-2"
            "post-3"
            "post-4"
            "post-5"
            "post-6"
            "post-7"
            "post-8"
            "post-9"
            "post-10"
            "post-11"
            "post-12"
            "post-13";
    }

    .grid-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.grid-item1 {
    grid-area: post-1;
}

.grid-item2 {
    grid-area: post-2;
}

.grid-item3 {
    grid-area: post-3;
}

.grid-item4 {
    grid-area: post-4;
}

.grid-item5 {
    grid-area: post-5;
}

.grid-item6 {
    grid-area: post-6;
}

.grid-item7 {
    grid-area: post-7;
}

.grid-item8 {
    grid-area: post-8;
}

.grid-item9 {
    grid-area: post-9;
}

.grid-item10 {
    grid-area: post-10;
}

.grid-item11 {
    grid-area: post-11;
}

.grid-item12 {
    grid-area: post-12;
}

.grid-item13 {
    grid-area: post-13;
}

/*Booking section*/

.booking h1 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #4A4646;
}

.booking p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #4A4646;
}

.booking span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #1ABC9C;
}

/*footer*/

.footer-section {
    background-color: #1ABC9C;
    height: 100vh;
}

.footer-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;

}

.footer-nav a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #ffff !important;
}

.footer-nav-line {
    text-decoration: underline;
}

.footer-nav li {
    padding-top: 64px;
}

.footer-adress {
    display: flex;
    padding-top: 64px;
}

.footer-head {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.footer-content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;

    color: #FFFFFF;

}

.footer-content-two {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer-dist {
    padding-top: 105px;
}